:root{
  --acent-color: #10C9C3;
  --primery-color: #212529;
  ---w-color: #FFFFFF;
  --mid-color: #F8F9F9;
  --heading-size: 36px;
  --text-size: 12px;
  --light-color: #E9ECEF
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
  margin: 0;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  padding: 0;
  margin: 0;
}
.container{
width: 94%;
height: 100%;
max-width: 1600px;
margin: auto;
}
.main {
 height: 100vh;
 background: url("./img/main.jpg") no-repeat center center / cover;
}
.main_wrap {
display: flex;
justify-content: end;
align-items: center;
height: 100%;

  
}
.main_block {
width: 50%;
min-width: 500px;
display: flex;
flex-direction: column;
align-items: start;
gap: 20px;
}
.main_heading {
font-weight: 500;
font-size: var(--heading-size);
color: var(--primery-color);
}
.main_text {
font-family: "Nunito sans", sans-serif;
font-weight: 400;
font-size: var(--text-size);
}
.main_button {
   color: var(---w-color);
   border: none;
   cursor: pointer;
   background-color: var(--acent-color);
   padding: 12px 36px;
   text-transform: uppercase;
   font-family: "Montserrat", sans-serif;
   font-size: 12px;
   font-weight: 400;
    padding: 16px 48px;
    border-radius: 4px;
}
.about{
  padding: 100px 0;
}
.about_wrap{
display: flex;
flex-direction: column;
align-items: center;
gap: 24px;
}
.about_text{
text-align: center;
font-size: var(--text-size);
font-family: "Nunito Sans", sans-serif ;
max-width: 500px;
}
.about_heading{
font-weight: 500;
font-size: var(--heading-size);
line-height: 1.5;
}

.skills{
background-color: var(--mid-color);
}
.skills_wrap{
display: grid;
grid-template-columns: repeat(2, 1fr);
}
.skills_left{
padding: 100px 0;
display: flex;
flex-direction: column;
gap: 2em;
}
.skills_heading{
text-transform: capitalize;
font-size: var(--heading-size);
}
.skills_block{
display: flex;
flex-direction: column;
gap: 2em;
}
.skills_item{
display: flex;
flex-direction: column;
gap: 1em;
}
.skills_title{
display: flex;
gap: 2em;;
}
.skills_text{
font-size: 12px;
font-weight: 500;
}
.skills_percent{
  font-size: 12px;
  font-weight: 500;
}
.skills_line{
 width: 70%;
 height: 3px;
 background-color: var(--light-color);
}
.skills_level{
width: 75%;
background-color: #10C9C3;
height: 3px;
}
#line75{
  width: 70%
}
#line90{
  width: 90%;
}
#line65{
  width: 65%;
}
.skills_right{
  background: url("img/conv.jpg") no-repeat right center / cover;
}
.stats{
background-color: var(--acent-color);

}
.stats_wrap{
display: flex;
justify-content: space-between;
align-items: center;

}
.stats_block{
  background-color: var(--acent-color);
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
  "icon title"
  "icon text";

}
.stats_icon{
font-size: 32px;
color: white;
grid-area: icon;
}
.stats_title{
font-weight: 500;
font-size: 18px;
color: white;
grid-area: title;
}
.stats_text{
font-weight: 500;
font-size: 12px;
line-height: 1.5;
text-transform: uppercase;
color: white;
grid-area: text;
}